:root {
    --primary-color: #4a76ee;
    --text-color: #1a1c20;
    --background-color: #eeeff1;
    --white: #ffffff;
    --gray: #666666;
    --transition: all 0.3s ease;
    --border-radius:7px;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin:auto;
    width: 90%;
    max-width: 1200px;
    text-align:left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 1em 0;
    position: sticky;
    z-index: 1000;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    color:var(--primary-color);
    transition: var(--transition);
}

a.active {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 0.5em 1.5em;
    border-radius:var(--border-radius);
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

  .hero-content {
    display: flex;
    flex-direction: column;
  }
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .wave {
    display: inline-block;
  }
  .hero-content p {
    margin-bottom: 1.5rem;
  }
  .hero-buttons {
    display: flex;
    gap: 1rem;
  }
   a.btn {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 0.5em 1.5em;
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: var(--transition);
  }
   a.btn:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
  }

  /* Hero Image */

  .hero-image img {
  width: 20em;
  height: 20em;
  border-radius: 100%;
}

  
  
/* Sections */
section {
    padding: 5rem 5%;
    max-width: 1200px;
    margin: 0 auto;
}



.skills-section h2 {
    text-align: center;
    font-size: 2.4em;
}



.btn-skills button {
    display: inline-flex;
    align-items: center;
    margin-top: 2em;
   padding: 0.5em 4em;
    background-color: var(--background-color);
    border: 1px solid gainsboro;
    border-radius: var(--border-radius);
   margin: 1em;
}

.btn-skills button:hover {
    transition: var(--transition);
    transform: scale(1.05);
}

.btn-skills span img {
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

/* Projects Section */
#projects {
    text-align: center;
    margin: 2rem;
  }
  
  #projects h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  #projects p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Grid Container */
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 1.5rem;
    padding: 0 1em;
  }
  
  /* Project Card */
  .project-card {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  /* Card Image */
  .project-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Card Content */
  .project-card h3 {
    font-size: 1.2rem;
    margin: 1em;
  }
  
  .project-card p {
    font-size: 0.95rem;
    color: #555;
  }
  
  /* Tags */
  .tags {
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .tags span {
    background-color: gainsboro;
    color: var(--text-color);
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: var(--border-radius);
    margin-left: 1em;
  }
  
  /* Project Links */
  .project-links {
    display: flex;
    
    border-radius: var(--border-radius);
  }
  
  .project-links a {
    text-align: center;
    padding: 1em;
    text-decoration: none;
    transition:var(--transition);
    font-size: 0.9em;
    color: var(--primary-color);
  }
  
  .project-links a:hover {
   color: var(--text-color);
  }

  #Testimony h2 {
    text-align: center;
    font-size: 2.4em;
  }

  .img-testimony img {
    width: 15em;
  height: 15em;
  border-radius: 100%;

  }


 
  
/* Responsive Design */
@media (max-width: 768px) {
  
}
